h1, h2 {
  text-align: center;
  /* margin-bottom: 60px; */
}
.top-half {
  padding-bottom: 30px;
  background: #110F10;
  /* background: rgb(5,5,5);
  background: -moz-linear-gradient(top, rgba(5,5,5,1) 12%, rgba(28,28,28,1) 39%, rgba(44,44,44,1) 41%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-linear-gradient(top, rgba(5,5,5,1) 12%,rgba(28,28,28,1) 39%,rgba(44,44,44,1) 41%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  background: linear-gradient(to bottom, rgba(5,5,5,1) 12%,rgba(28,28,28,1) 39%,rgba(44,44,44,1) 41%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#131313',GradientType=0 ); /* IE6-9 */ */
  padding: 40px;
  height: 650px;
  text-align: center;
  position: relative;
  padding: 25px;
}
.top-half h1{
   color: #ffffff;
}
.logo-img {
  background-image: url("../marshall_law_logo.png");
  background-size: cover;
  position: relative;
  height: 100%;
  width: 43%;
  margin: auto;
}


.top-half video {
  position: absolute;
  margin: auto;
    top: 25px;
    left: 165px;
    width: 75%;
}

footer p {
  font-size: 10px;
  /*font-weight: 600;*/
  text-align: center;
  font-weight: 500;
}

.mobile-img {
  display: none;
}

#subscribe {
  padding: 20px;
  background: #110F10;

}

#subscribe .subscribe-text h2 {
  color: #ffc107;
}

#subscribe .subscribe-link a {
  width: 12rem;
  font-weight: 600;
}

#bottom-content {
  padding: 30px 0;
  background: #f9ecc2;
}

.tagline {
  padding: 20px;
}

.blend {
  padding: 20px;
  /* border-left: 1px solid #ffc107;
  border-right: 1px solid #ffc107; */
}
.blend h2, .tagline h2 {
  font-family: 'Anton', sans-serif;
}

.social-icons {
  text-align: center;
  border-left: 1px solid #ffc107;
  border-right: 1px solid #ffc107;
}

.fab {
  font-size: 5rem;
}
.fab:hover {
  color: #ffc107;
}


@media only screen and (max-width: 600px) {
  .top-half {
    display: none;
  }

  .mobile-img {
    display: block;
    background: #110F10;
    padding: 1rem;
  }
  .mobile-img img {
    width: 100%;
  }

  .social-icons {
    border: none;
  }

  #subscribe .subscribe-link {
    text-align: center;
  }
}
